# Virtual environments and environment variables
.venv/
.env/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# Logs and temp files
*.log
*.tmp

# Ignore compiled and package files
dist/
build/
*.egg-info/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

#environment varialbles
.env
*.pur
*.csv
venv/
dependencies/

